<meta name="viewport" content="width=device-width, initial-scale=1.0">

<app-menu></app-menu>

<div class="container-fluid full-height">
  <div class="row justify-content-center align-items-center full-height">
    <div class="col-md-4">
      <div class="form-container">
        <h2 class="text-center">Inscription</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registration-form">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" id="nom" formControlName="nom" class="form-control" required>
            <small *ngIf="registerForm.get('nom')?.touched && registerForm.get('nom')?.invalid">Nom est requis</small>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" id="prenom" formControlName="prenom" class="form-control" required>
            <small *ngIf="registerForm.get('prenom')?.touched && registerForm.get('prenom')?.invalid">Prénom est requis</small>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" required>
            <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">Email est requis et doit être valide</small>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" class="form-control" required>
            <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">Mot de passe est requis et doit contenir au moins 6 caractères</small>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Inscription</button>
          <div *ngIf="errorMessage" class="error-message text-danger mt-3">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="success-message mt-3">
            {{ successMessage }}
          </div>
          <div *ngIf="submitted && registerForm.valid && !(errorMessage) && (successMessage=='')" class="success-message mt-3">
            Veuillez vérifier votre adresse mail pour valider votre inscription
          </div>
          <div class="text-center mt-2">
            <a>Vous etes déja inscrit ? </a>
            <a routerLink="/connexion">Se connecter</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
