<!-- inscription.component.html -->

<mat-horizontal-stepper linear>
  <!-- Première étape -->
  <mat-step [stepControl]="registerForm.get('step1')">
    <ng-template matStepLabel>Étape 1</ng-template>
    <form [formGroup]="registerForm.get('step1')" (ngSubmit)="nextStep()">
      <p>
        <label for="nom">Nom</label>
        <input type="text" id="nom" formControlName="nom">
        <small *ngIf="registerForm.get('step1.nom')?.touched && registerForm.get('step1.nom')?.invalid" class="error-message">Nom is required</small>
      </p>
      <!-- Autres champs du formulaire pour l'étape 1 -->
      <button mat-button matStepperNext type="submit">Suivant</button>
    </form>
  </mat-step>

  <!-- Deuxième étape -->
  <mat-step [stepControl]="registerForm.get('step2')">
    <ng-template matStepLabel>Étape 2</ng-template>
    <form [formGroup]="registerForm.get('step2')" (ngSubmit)="submit()">
      <p>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <small *ngIf="registerForm.get('step2.email')?.touched && registerForm.get('step2.email')?.invalid" class="error-message">Email is required and must be a valid email</small>
      </p>
      <!-- Autres champs du formulaire pour l'étape 2 -->
      <button mat-button matStepperPrevious type="button">Précédent</button>
      <button mat-button type="submit">Inscription</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!-- Affichage des erreurs globales -->
<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>


<!-- Afficher les informations de l'utilisateur après l'inscription -->
<div *ngIf="userInfo">
  <h3>Inscription Réussie</h3>
  <p>Nom: {{ userInfo.nom }}</p>
  <p>Prénom: {{ userInfo.prenom }}</p>
  <p>Email: {{ userInfo.email }}</p>
</div>
