/* You can add global styles to this file, and also import other style files */

/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

/* Importer Open Sans avec le poids 300 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Appliquer la police Open Sans et le poids 300 à tout le texte dans l'application */
html, body { height: 100%; }
body, input, button, .form-container, .registration-form {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

