<form *ngIf="email" (ngSubmit)="logout()">
  <button type="submit">Déconnexion</button>
</form>

<c-carousel [dark]="true" [wrap]="false">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let slide of slides; index as i;">
      <img [src]="slide.src" alt="{{slide.title}}" class="d-block w-100" loading="lazy" />
      <c-carousel-caption class="d-none d-md-block">
        <h3>{{slide.title}}</h3>
        <p>{{slide.subtitle}}</p>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
  <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
</c-carousel>

<app-listevoitures (lastValueEmitter)="handleLastValue($event)"></app-listevoitures>

<div class="text-center mt-4">
  <button (click)="displayLastVoiture()" class="btn btn-primary styled-button">Valider votre choix</button>
</div>
<p *ngIf="showLastVoiture && lastVoiture">Dernière voiture filtrée : {{ lastVoiture | json }}</p>

<div *ngIf="sameGammeVoitures.length > 0" class="mt-4">
  <h3 class="text-center">Voitures de la même gamme</h3>
  <div class="text-center mb-3">
    <button (click)="trierParCO2()" class="btn btn-primary styled-button">Trier par CO2 (croissant)</button>
  </div>
  <ul class="list-group">
    <li *ngFor="let voiture of sameGammeVoitures; let i = index" class="list-group-item" [id]="'voiture-' + i">
      <div class="row">
        <div class="col-md-3"><strong>Marque:</strong> {{ voiture.marque }}</div>
        <div class="col-md-3"><strong>Désignation commerciale:</strong> {{ voiture.designation_commerciale }}</div>
        <div class="col-md-2"><strong>Carburant:</strong> {{ voiture.carburant }}</div>
        <div class="col-md-2"><strong>Hybride:</strong> {{ voiture.hybride }}</div>
        <div class="col-md-2"><strong>Boîte de vitesse:</strong> {{ voiture.boite_de_vitesse }}</div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3"><strong>Année:</strong> {{ voiture.annee }}</div>
        <div class="col-md-3"><strong>Co2 g/km:</strong> {{ voiture.co2_g_km }}</div>
        <div class="col-md-2"><strong>Puissance :</strong> {{ voiture.puissance_maximale }}</div>
        <div class="col-md-2"><strong>Carrosserie:</strong> {{ voiture.carrosserie }}</div>
        <div class="col-md-2"><strong>Conso%100 :</strong> {{ voiture.consommation_mixte_l_100km }}</div>
        <!-- Ajoutez d'autres détails si nécessaire -->
      </div>
    </li>
  </ul>
</div>
